.App {
  text-align: center;
}

.slick-slide.slick-center img { margin-left: auto; margin-right: auto; }

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 40px;
  color: white;
}

